#CreateTask {
    background-color: #cccccc;
    color: black;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.25s;
    transition-delay: .05s;
    font-weight: bold;
    border-radius: 40px;
}

#CreateTask:hover {
    background-color: #979797;
    color: black;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.25s;
    transition-delay: .05s;
    font-weight: bold;
    border-radius: 42px;
}