/* src/styles/CreateTaskButton.css */

#CreateTask {
    background-color: #007bff; /* Vibrant blue */
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: background-color 0.25s ease, font-size 0.25s ease;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border: 2px solid transparent;
    border-radius: 40px;
}

#CreateTask:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: white;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.25s ease, font-size 0.25s ease;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border: 2px solid transparent;
    border-radius: 42px;
}