/* src/styles/Sidebar.css */

.sidebar {
    width: 200px;
    /* Fixed width for the sidebar */
    padding: 20px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MenuButton {
    background-color: gray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    transition-delay: .05s;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
    border-radius: 40px;
    /* 40 = 32x2 (padding) + 16 (font size) */
}

.MenuButton:hover {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.5s;
    transition-delay: .05s;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
    border-radius: 42px;
    /* 42 = 32x2 (padding) + 18 (font size) */
}